@model HomeVM


@{
    ViewData["Title"] = "Home Page";
}
<main>
    <!-- Product -->
    <section class="product">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-5 product-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-tags"></i>
                    </div>
                    <div class="description-box">
                        <h4>Showcase Your App</h4>
                        <p>
                            Showcase your app in style with this professional looking
                            template.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mt-5 product-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-tags"></i>
                    </div>
                    <div class="description-box">
                        <h4>Showcase Your App</h4>
                        <p>
                            Showcase your app in style with this professional looking
                            template.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mt-5 product-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-tags"></i>
                    </div>
                    <div class="description-box">
                        <h4>Showcase Your App</h4>
                        <p>
                            Showcase your app in style with this professional looking
                            template.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mt-5 product-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-tags"></i>
                    </div>
                    <div class="description-box">
                        <h4>Showcase Your App</h4>
                        <p>
                            Showcase your app in style with this professional looking
                            template.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mt-5 product-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-tags"></i>
                    </div>
                    <div class="description-box">
                        <h4>Showcase Your App</h4>
                        <p>
                            Showcase your app in style with this professional looking
                            template.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mt-5 product-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-tags"></i>
                    </div>
                    <div class="description-box">
                        <h4>Showcase Your App</h4>
                        <p>
                            Showcase your app in style with this professional looking
                            template.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Info -->
    <section class="info">
        <div class="container">
            <div class="row">
                <div class="col-md-5 img-left">
                    <img src="~/assets/img/2.jpg" alt="" />
                </div>
                <div class="col-md-7 info-description">
                    <h1>
                        Awesome App
                        <br />
                        App Landing Template
                    </h1>
                    <p class="">
                        An awesome landing page template to showcase your app features,
                        screenshots, pricing, user testimonials and download links.
                        <br />
                        <br />
                        <br />

                        Re-establish the main use case of your app by listing them
                        below. Make sure to place a relavent screenshot on the left.
                    </p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-check"></i> Amazing Design to Present
                            Your App
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i> Fully Responsive and Powered
                            by Bootstrap & PaperKit
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>Very Easy to Customize and
                            Setup
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Screenshot -->
    <section class="screen">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Take a look at our screenshots</h1>
                    <br />
                    <br />

                    <p class="w-50 mx-auto">
                        Add your app screenshots below. Make sure to make them lively by
                        putting them inside real device mockups Replace this text to
                        describe the screenshots of your app.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="~/assets/img/3.jpg" alt="" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/assets/img/4.jpg" alt="" />
                                </div>

                                <div class="swiper-slide">
                                    <img src="~/assets/img/5.jpg" alt="" />
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Package -->
    <section class="package">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5  mx-auto">
                    <h1>
                        We've got the perfect package for you
                    </h1>
                    <br>

                    <p class="w-50 mx-auto">
                        A section to display your pricing structure. Make sure to highlight your most popular plan like shown below.
                        Replace this text to describe your pricing plan.
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 card-box">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">

                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <span>$12.0/m</span>
                            <ul>
                                <li>One User</li>
                                <li>Multiple Access</li>
                                <li>SMS Support</li>
                                <li>24/7 Online Support</li>
                            </ul>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-box">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">

                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <span>$12.0/m</span>
                            <ul>
                                <li>One User</li>
                                <li>Multiple Access</li>
                                <li>SMS Support</li>
                                <li>24/7 Online Support</li>
                            </ul>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-box">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">

                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <span>$12.0/m</span>
                            <ul>
                                <li>One User</li>
                                <li>Multiple Access</li>
                                <li>SMS Support</li>
                                <li>24/7 Online Support</li>
                            </ul>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-box">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">

                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <span>$12.0/m</span>
                            <ul>
                                <li>One User</li>
                                <li>Multiple Access</li>
                                <li>SMS Support</li>
                                <li>24/7 Online Support</li>
                            </ul>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </section>
    <!-- Customer -->
    <section class="customer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5 text-center mx-auto">
                    <h1>What our customers are saying</h1>
                    <br>
                    <p class="w-50 mx-auto">
                        Real user testimonials are great way to attract new customers and increase their trust into using your app.
                        Replace the testimonials below with the ones for your own app.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="box-div d-flex ">
                    @foreach (var item in Model.users)
                    {
                    <div class="col-md-4  title-box">
                        <div class="title">
                            <p>@item.Title</p>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-5 img-user">
                                <img src="~/assets/img/@item.Image" alt="">
                            </div>
                            <div class="col-md-7 pt-3">
                                <h5>@item.FullName</h5>
                                <p>@item.Position</p>
                            </div>
                        </div>
                    </div>

                    }

                   
                </div>
            </div>

        </div>

    </section>
</main>